/*** Component ***/
.autoLogoutReminder-wrapper {
  height: 220px;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 10px;
  grid-template-columns: 95%;
  justify-content: center;
  align-items: stretch;
  position: fixed;
  top: 10%;
  right: 10%;
  border: 2px solid white;
  border-radius: 5%;
  background-color: #1d6f8a;
  font-size: 15px;
  text-align: center;
}

.autoLogoutReminder-wrapper .submitBtn {
  background: #d1d1d1;
  padding: 0.4em;
}

.autoLogoutReminder-wrapper .fa-times {
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  top: -10px;
  right: 0px;
}

/*** Reminder ***/
.autoLogoutReminder-reminder-wrapper {
  position: relative;
}

.autoLogoutReminder-reminder-innerWrapper .submitBtn {
  padding: 0.5em 1.5em;
}

.autoLogoutReminder-reminder-content {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 10px;
}

p.autoLogoutReminder-reminder-text {
  font-size: 17px;
  margin-bottom: 55px;
}

.autoLogoutReminder-btns-wrapper {
  display: grid;
  grid-template-columns: 90%;
  justify-content: space-around;
}

/*** Redirect ***/
.autoLogoutReminder-redirect-wrapper {
  position: relative;
}

.autoLogoutReminder-redirect-innerWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 255px) {
  .autoLogoutReminder-wrapper {
    height: 185px;
  }
}

@media screen and (min-width: 395px) {
  .autoLogoutReminder-wrapper {
    height: 130px;
  }

  p.autoLogoutReminder-reminder-text {
    margin-bottom: 20px;
  }

  .autoLogoutReminder-btns-wrapper {
    grid-template-columns: 45% 45%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 550px) {
  .autoLogoutReminder-wrapper {
    height: 140px;
    width: 300px;
    top: 50px;
    right: 20px;
    font-size: 17px;
  }
}
