/*** Generic Classes ***/
.logInNeeded {
  min-height: var(--min-height-size);
  grid-column: 1 / span 2;
  justify-self: center;
  padding-top: var(--layout-padding-top);
  padding-bottom: var(--layout-padding-bottom);
  line-height: 45px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.685);
  background-blend-mode: darken;
  background-image: url('https://kzoglo.github.io/CodersCamp_MiniKino_Frontend/img/loginNeeded.jpg');
  background-size: cover;
}
