/*** Generic Classes ***/
.login-outerWrapper {
  min-height: var(--min-height-size);
  width: 100%;
  padding-top: 50px;
  background-color: black;
  background-image: url('https://kzoglo.github.io/CodersCamp_MiniKino_Frontend/img/login11.jpg');
  background-blend-mode: hard-light;
  background-size: cover;
}

.login-wrapper {
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}

.login-title {
  margin-left: 4px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 29px;
}

.login-form {
  display: grid;
  padding: 5% 8% 4%;
  background-color: rgba(0, 0, 0, 0.73);
  border: 2px white solid;
  border-radius: 2%;
}

.validate-login-info {
  margin: 10px 0 0 0;
  /* height: 20px; */
  text-align: center;
}

/*** Conditional Classes ***/
.login-wrapper .invalid {
  color: red;
}

.login-wrapper .valid {
  color: green;
}

/*** Restyling of imported components ***/
/* SubmitBtn */
.login-wrapper .loginBtn {
  padding: 3% 2%;
}

/* Login Spinner */
.login-wrapper .login-spinner {
  border: 6px solid #3058dc;
  border-top-color: transparent;
}

.login-wrapper .login-spinner-outerWrapper {
  display: inline;
  position: relative;
  top: -21px;
  right: 0%;
  margin-left: 0;
  background: #808080;
}

/*** Media Queries ***/
@media screen and (min-width: 460px) {
  .login-wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 560px) {
  .login-wrapper {
    width: 80%;
  }

  .login-form {
    grid-template-columns: repeat(2, 47.5%);
    column-gap: 5%;
    padding-bottom: 4%;
  }

  .login-email-wrapper,
  .login-pass-wrapper,
  .validate-login-info {
    grid-column: 1 / span 2;
  }

  .loginBtn {
    grid-column: 1 / span 2;
    justify-self: center;
    width: 40%;
    padding: 2% 2%;
  }
}

@media screen and (min-width: 660px) {
  .login-wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 760px) {
  .login-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 860px) {
  .login-wrapper {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  .login-wrapper {
    width: 60%;
  }
}

@media screen and (min-width: 1060px) {
  .login-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 1260px) {
  .login-wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 1500px) {
  .login-wrapper {
    width: 40%;
  }
}
